<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MD CheckIn</title>
  <link rel="apple-touch-icon" sizes="180x180" href="./favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="./favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="./favicon/favicon-16x16.png">
  <link rel="manifest" href="./favicon/site.webmanifest">
  <link rel="stylesheet" href="./css/main.css">
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
  <div id="app">
    <div class="container">
      <div class="search">
        <p class="searchBox">{{searchID}}</p>
        <p class="error">{{err}}</p>
        <div class="student" v-if="checkedLst[0]">
          <p>{{checkedLst[0].id}} | {{checkedLst[0].name}}</p>
        </div>
        <ul class="numpad">
          <li @click="add(1)">1</li>
          <li @click="add(2)">2</li>
          <li @click="add(3)">3</li>
          <li @click="add(4)">4</li>
          <li @click="add(5)">5</li>
          <li @click="add(6)">6</li>
          <li @click="add(7)">7</li>
          <li @click="add(8)">8</li>
          <li @click="add(9)">9</li>
          <li @click="add(0)">0</li>
          <li @click="del()" class="delete"><ion-icon name="backspace-outline"></ion-icon>
          <li @click="checkIn(searchID)" class="enter"><ion-icon name="enter-outline"></ion-icon></li>
          </li>
        </ul>
        <input class="cardInput" type="text" v-model="cardID" @keyup.enter="searchCard()"
          placeholder="Click here to scan card">
      </div>
      <div class="students-list">
        <strong>รายชื่อ</strong>
        <table>
          <tbody>
            <tr v-for="(student, index) in checkedLst">
              <td>{{student.id}}</td>
              <td>{{student.name}}</td>
              <td>{{student.time}}</td>
              <td class="delete" @click="remove(index)"><ion-icon name="trash-outline"></ion-icon></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="saveFile" @click="saveFile()">
        <ion-icon name="download-outline"></ion-icon>
      </div>
    </div>
  </div>

  <script lang="javascript" src="https://cdn.sheetjs.com/xlsx-0.19.3/package/dist/xlsx.full.min.js"></script>
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  <script src="./js/Students.js"></script>
  <script src="./js/Students-data.js"></script>
  <script src="./js/main.js"></script>
</body>

</html>